<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>
$(document).ready(function(){
	$("#listButton").click(listFunc);
});
function listFunc(){
	$.ajax({
		url: "/member/list",
		dataType:"json",
	    success: function(data) {
	    	console.log(data);
	    	$("<ol/>",{id:"memberOL"}).appendTo("#listContainer");
	    	$.each(data.list,(index,member)=>{
	    		$( "<li/>",{id:"liTag"+index}).appendTo("#memberOL");
	    		$( "<a/>", {
	    			href:"#",
	    		    html: member.id,
	    		    click:memberDetailFunc
	    		}).appendTo("#liTag"+index);
	    	});
	    }
	});
}
function memberDetailFunc(){
	const aTag=this;
	$.ajax({
		url: "/member/detail",
		data:{"id":$(this).html()},
		dataType:"json",
	    success: function(data) {
	    	$(aTag).append(data.member.pw);
	    }		
	});
}
</script>
</head>
<body>
<a href="#" id="listButton">회원리스트</a><br/>
<div id="listContainer"></div>
</body>
</html>